root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Indentation
[*]
indent_style = space
indent_size = 4

[{package.json,*.yml}]
indent_style = space
indent_size = 2

# Remove trailing spaces
[*]
trim_trailing_whitespace = true

# Don't remove trailing spaces in markdown files
[*.md]
trim_trailing_whitespace = false
