@import "colors";

// Border
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
$border-types: ("solid", "dotted", "dashed");

$context-colors: ("important": $important, "info": $info, "success": $success,"danger": $danger,"warning": $warning);

.border {
    border: 1px solid $black;

    &-rounded {
        border-radius: $radius-small;

        &-small {
            border-radius: $radius-small;
        }

        &-medium {
            border-radius: $radius-medium;
        }

        &-large {
            border-radius: $radius-large;
        }

        &-top {
            border-radius: $radius-small $radius-small 0 0;
        }

        &-right {
            border-radius: 0 $radius-small $radius-small 0;
        }

        &-bottom {
            border-radius: 0 0 $radius-small $radius-small;
        }

        &-left {
            border-radius: $radius-small 0 0 $radius-small;
        }
    }

    &-circle {
        border-radius: 50%;
    }

    &-capsule {
        border-radius: 5000px !important; // Changing this value is not recommended.
    }

    @each $name, $color in $context-colors {
        &-#{$name} {
            border-color: $color;
        }
    }
}

@for $i from 1 through 6 {
    @each $border-type in $border-types {
        .border-#{$border-type}-#{$i} {
            border: #{$i} + px #{$border-type} $black;
        }
    }
}

// Text
.bold {
    font-weight: bold;

    &er {
        font-weight: bolder;
    }
}

.light {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}
